    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(rgb(189, 200, 30),rgb(111, 152, 149));
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150vh;
    }

    .player {
      width: 320px;
       background: linear-gradient(rgb(50, 0, 34),rgb(240, 190, 230));
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    }
 h3 {
      font-size: 24px;
      font-family: Arial, sans-serif, "Segoe UI Emoji", "Noto Color Emoji";
    }
    .controls {
      margin: 15px 0;
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
    }

    button {
      background: #ff5722;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background: #e64a19;
    }

    input[type="range"] {
      width: 100%;
      height: 6px;
      border-radius: 5px;
      appearance: none;
      background: #555;
      cursor: pointer;
    }

    input[type="range"]::-webkit-slider-thumb {
      appearance: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #ff5722;
      cursor: pointer;
    }

    .volume-control {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 12px;
    }

    .volume-control span {
      font-size: 14px;
    }
    
  img.emoji {
    height: 1.5em;  /* normal text ke equal ya thoda bada */
    width: auto;
    vertical-align: middle;
  }
.download-container {
  margin-top: 15px;        /* Audio ke neeche gap */
  text-align: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 20px;
padding-bottom: 10px;


    
}
.download-container a{
    text-decoration: none;
}
.download-btn {
  display: block;
  width: fit-content;
  margin: 10px auto 0 auto;   /* top:10px, left-right:auto = center */
  padding: 10px 20px;
  background:linear-gradient(rgb(29, 96, 147), rgb(91, 13, 65));
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  transition: background 0.3s;

}


.download-btn:hover {
 background:linear-gradient(rgb(82, 131, 169), rgb(87, 34, 69));    /* Hover effect */
}
.sec-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.next{
    text-align: center;
   
    background-color: #555;
    border-radius: 20px;
    padding-bottom: 20px;
}
.songs-list{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  background:linear-gradient(rgb(29, 96, 147), rgb(91, 13, 65));
  padding: 10px;
  border-radius: 10px;
}
.songs-list ul li{
  list-style: none;
}
.songs-list ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.songs-list ul li a{
  text-decoration: none;
  color: blue;
  
  
  border-radius: 8px;
}
.songs-list ul li a:hover{
  color: #cfd8a5;
}